body {
  padding-top: 60px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

div.content {
  border: 1px solid #ccc;
}

img.avatar {
  float: left;
}

img.avatar-right {
  float: right;
}

div.user-info {
  margin-left: 100px;
}

.clear-float {
  clear: both;
}

button.btn-follow {
  float: right;
  margin-top: 10px;
}

.tweet-time {
  float: right;
  color: #999;
}

.edit-form {
  position: relative;
  margin: 15px 0;
  padding: 39px 19px 14px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.home-avatar {
  padding-bottom: 10px;
}

.home-name {
  padding: 25px 0 0 100px;
}

.home-grid > div {
  border: 1px solid #EEE;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 10px;
}

.home-grid > div.span8 {
  padding: 0;
}

.edit-info input {
  width: 80%;
}

.edit-info textarea {
  width: 80%;
}

.tweet-box {
  width: 95%;
}

.well {
  padding: 5px 10px;
  margin-bottom: 5px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 5px 0;
}

.tweet-line {
  padding: 5px 10px;
  border-bottom: 1px solid #e3e3e3;
}

.tweet-list div:last-child {
  border-bottom: none;
}

.tweet-line:hover,
.tweet-line:active {
  background-color: #eee;
}

.user-line {
  padding: 5px 10px;
  border-bottom: 1px solid #ccc;
}

.user-list div:last-child {
  border-bottom: none;
}

.signout-link {
  color: #999;
  float: right;
  padding: 10px 15px 10px;
}

.signout-link:hover,
.signout-link:active {
  color: #fff;
  text-decoration: none;
}

.tweet-line p {
  word-wrap: break-word;
}
