body {
  padding-top: 60px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

div.content {
  border: 1px solid #ccc;
}

img.avatar {
  float: left;
}

div.user-info {
  margin-left: 100px;
}

.clear-float {
  clear: both;
}

button.btn-follow {
  float: right;
  margin-top: 10px;
}

.tweet-time {
  float: right;
  color: #999;
}